/* General styling for the navigation bar */
.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e9e9e9;
    /*padding: 0 16px;  Add padding for horizontal spacing */
    height: 70px;
    width: 100%;
    padding: 0px 0px 0px 0px;
    border-width: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    
  }

  .topnav .topnav-left-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;

    background-color: #e9e9e9;
   
    height: 100%;
    width: 40%;
    padding: 0px 0px 0px 0px;
    padding-left: 3%;
    border-width: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
     
  }

  .topnav .topnav-left-section .logo-menu{
    display:inline-flex;  
    align-items: center;
    height: 100%;
    width: 25%;
    padding-right: 50px;
    
    column-gap: 5px;
    /*
    row-gap: 50px;
    padding: 0% 0% 0% 0%;
    padding-left: 5%;
    padding-right: 5%;
    border-width: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    margin-right: 5%;
    */
  }
  
  .topnav .topnav-left-section .menu{
    display: inline-flex;   
    align-items: center;
    height: 100%;
    width: 73%;
    padding: 0% 0% 0% 0%;
    padding-left: 2%;
    border-width: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    vertical-align: middle;
    text-align: center;
  }



  
  .topnav .center-section{
    display: flex;
    align-items: center;
    height: 100%;
    width: 34%;
    padding: 0% 0% 0% 0%;
    border-width: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    flex-wrap:nowrap;
    
  }
  
  .topnav .topnav-left-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: #e9e9e9;
    /*padding: 0 16px;  Add padding for horizontal spacing */
    
    height: 100%;
    width: 30%;
    /*padding: 0px 0px 0px 0px;*/
    padding-left: 3%;
    border-width: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    
    column-gap: 10%;
    row-gap: 10%;
    
  }